@import '../../abstract/main';

.all-posts-home{
    max-width: 517px;
    margin: 64px 80px 64px 16px;

    @media screen and (max-width: $tablet-width) {
        margin: 56px 0 56px 16px;
    }

    @media screen and (max-width: $small-tablet-width) {
        @include smallTabletWidthAndMargins;
    }

    @media screen and (max-width: $mobile-width) {
        @include mobileWidthAndMargins;
    }


    .heading-wrapper{
    display: flex;
    align-items: baseline;
    justify-content: space-between;

    }

    .heading{
        @include heading-36;
        letter-spacing: -2px;
        margin-bottom: 64px;

        @media screen and (max-width: $mobile-width) {
            margin-bottom: 32px;
        }
    }

    a{
        text-decoration: none;
    }

    .view-all-button{
        color: $purple;


    }

    .scroll-section{
        overflow-y: scroll;
        max-height: 724px;

        a{
            text-decoration: none;
            color: $black;
        }
    }

    .post-card{
        display: flex;
        flex-direction: column;
        padding: 32px 116px 50px 32px;
        cursor: pointer;

        &:hover{
            background-color: $lightYellow;
        }

        @media screen and (max-width: $mobile-width) {
            padding: 24px 24px;
        }

    }

    .author-date{
        @include body-14;
        margin-bottom: 8px;

        span{
            color: $purple;
        }
    }

    .title{
        @include heading-24;
    }
}