@import '../../abstract/main';

.all-posts-blog{
    margin: 64px 80px 64px 80px;

    @media screen and (max-width: $tablet-width) {
        padding: 64px 16px;
    }

    .section-title{
        @include heading-48;
        margin-bottom: 32px;
        text-align: left;
    }

    .horizontal-line{
        max-width: 1282px;
        height: 0;
        border: 1px solid $mediumGrey;
        opacity: 0.32;
        margin-bottom: 64px;
    }

    .all-posts-post-wrapper{
        display: flex;
        align-items: center;
        gap: 32px;
        margin-bottom: 64px;

        @media screen and (max-width: $tablet-width) {
            flex-direction: column;
        }
    }

    .image{
        max-width: 490px;

        @media screen and (max-width: $tablet-width) {
            max-width: 80%;
        }

        @media screen and (max-width: $mobile-width) {
            max-width: 90%;
        }
    }

    .text-wrapper{
        max-width: 624px;

        @media screen and (max-width: $tablet-width) {
            max-width: 80%;
        }

        @media screen and (max-width: $mobile-width) {
            max-width: 90%;
        }
    }

    .label{
        @include heading-16;
        color: $purple;
        text-transform: uppercase;
        letter-spacing: 3px;
        line-height: 20px;
        margin-bottom: 20px;
    }

    a{
        text-decoration: none;
        color: $black;
    }

    .title{
        @include heading-36;
        margin-bottom: 16px;


    }

    .text{
        color: $mediumGrey;
    }

    .hidden{
        display: none;
    }

    .buttons{
        display: flex;
        justify-content: center;
        gap: 16px;
        @include heading-24;
        color: $mediumGrey;
    }

    .button{
        cursor: pointer;
    }
}