@import '../../abstract/main';

.post-wrapper{
    max-width: 1280px;
    margin: 128px auto;

    @media screen and (max-width: $tablet-width) {
        max-width: 80%;
    }

    @media screen and (max-width: $mobile-width) {
        max-width: 90%;
    }

    .post-header-wrapper{
        max-width: calc(100% - 512px);
        margin: 0 auto;

        @media screen and (max-width: $tablet-width) {
            max-width: 90%;
        }
    }

    .post-author-details{
        display: flex;
        align-items: center;
        gap: 16px;
        margin-bottom: 24px;
    }

    .author-image{
        max-width: 48px;
        max-height: 48px;
    }

    .post-author{
        @include heading-28;
        letter-spacing: -1px;
        color: $purple;
    }

    .post-date{
        color: $mediumGrey;
    }

    .post-heading{
        @include heading-48;
        letter-spacing: -2px;
        margin-bottom: 34px;
    }

    .icon-tag-wrapper{
        display: flex;
        align-items: center;
        gap: 8px;
        margin-bottom: 64px;
    }

    .icon{
        width: 40px;
        height: 40px;
    }

    .post-tag{
        @include heading-24;
    }

    .post-hero-image{
        margin-bottom: 64px;
    }

    .post-content{
        max-width: 844px;
        margin: 0 auto;

        @media screen and (max-width: $tablet-width) {
            max-width: 90%;
        }
    }

    .post-subtitle{
        @include heading-36;
        margin-top: 24px;
        margin-bottom: 24px;
    }

    .post-text{
        color: $mediumGrey;
        margin-bottom: 24px;
    }

    .post-list{
        @include heading-24;
        list-style-position: inside;
        margin-bottom: 24px;
    }
}