@import '../../abstract/main';


.carousel-container{
    max-width: 1280px;
    margin: 48px 80px;

    @media screen and (max-width: $tablet-width) {
        max-width: 85%;
        margin: 48px auto 64px auto;
    }

    @media screen and (max-width: $small-tablet-width) {
        display: none;
    }

    .categories-carousel{
        display: flex;
        justify-content: center;
        gap: 32px;
        margin-bottom: 8px;

        @media screen and (max-width: $tablet-width) {
            flex-wrap: wrap;
        }
    }

    .hidden{
        display: none;
    }

    .card{
        max-width: 232px;
        border: 1px solid $categoryCarouselBorder;
        padding: 32px;

        &:hover{
            background-color: $yellow;
            cursor: pointer;
        }
    }

    .image{
        margin-bottom: 16px;
    }

    .category{
        @include heading-28;
        margin-bottom: 4px;
    }

    .text{
        color: $mediumGrey;
    }

    .carousel-buttons{
        display: flex;
        justify-content: space-between;
    }

    .button{
        width: 26px;
        margin: 16px 16px;
        cursor: pointer;
    }

    .posts{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .post-wrapper{
        max-width: 400px;
        margin: 64px auto;

        @media screen and (max-width: $tablet-width) {
            margin-bottom: 48px;
        }
    }

    .image{
        max-width: 400px;
    }

    .label{
        @include heading-16;
        color: $purple;
        text-transform: uppercase;
        letter-spacing: 3px;
        line-height: 20px;
        margin-bottom: 20px;
    }

    a{
        text-decoration: none;
        color: $black;
    }

    .title{
        @include heading-36;
        margin-bottom: 16px;
    }

    .text{
        color: $mediumGrey;
    }
}