@import '../../abstract/main';


.carousel-container{
    max-width: 1280px;
    margin: 128px 80px;

    @media screen and (max-width: $small-tablet-width) {
        display: none;
    }

    .categories-carousel{
        display: flex;
        justify-content: center;
        gap: 32px;
        margin-bottom: 8px;

        @media screen and (max-width: $tablet-width) {
            flex-wrap: wrap;
        }
    }

    .hidden{
        display: none;
    }

    .card{
        max-width: 232px;
        border: 1px solid $categoryCarouselBorder;
        padding: 32px;

        &:hover{
            background-color: $yellow;
        }
    }

    .image{
        margin-bottom: 16px;
    }

    .category{
        @include heading-28;
        margin-bottom: 4px;
    }

    .text{
        color: $mediumGrey;
    }

    .carousel-buttons{
        display: flex;
        justify-content: space-between;
    }

    .button{
        width: 26px;
        margin: 16px 16px;
    }
}