@import '../../abstract/main';



.carousel-container-mobile{
    max-width: 90%;
    margin: 32px auto 64px auto;

    @media screen and (min-width: calc($small-tablet-width + 1px)) {
        display: none;
    }

    .categories-carousel{
        margin-bottom: 8px;
    }

    .hidden{
        display: none;
    }

    .card{
        max-width: 232px;
        border: 1px solid $categoryCarouselBorder;
        padding: 32px;
        margin: 0 auto;

        &:hover{
            background-color: $yellow;
            cursor: pointer;
        }
    }

    .image{
        margin-bottom: 16px;
    }

    .category{
        @include heading-28;
        margin-bottom: 4px;
    }

    .text{
        color: $mediumGrey;
    }

    .carousel-buttons{
        display: flex;
        justify-content: space-between;
        max-width: 232px;
        margin: 16px auto;

    }

    .button{
        width: 26px;
    }

    .post-wrapper{
        max-width: 360px;
        margin: 48px auto;

        @media screen and (max-width: $small-mobile-width) {
            max-width: 280px;
        }
    }

    .image{
        max-width: 360px;

        @media screen and (max-width: $small-mobile-width) {
            max-width: 280px;
        }
    }

    .label{
        @include heading-16;
        color: $purple;
        text-transform: uppercase;
        letter-spacing: 3px;
        line-height: 20px;
        margin-bottom: 20px;
    }

    a{
        text-decoration: none;
        color: $black;
    }

    .title{
        @include heading-28;
        margin-bottom: 16px;
    }

    .text{
        color: $mediumGrey;
    }
}