@import '../../abstract/main';

.form{
    max-width: 768px;

    .wrapper{
        max-width: 100%;
        position: relative;
    }

    .input{
        width: 720px;
        padding: 24px;
        margin-bottom: 16px;
        border-style: solid;
        border: 1px solid rgba(109, 110, 118, 0.5);
        color: $black;
        position: relative;

        @media screen and (max-width: $small-tablet-width) {
            width: 452px;
        }

        @media screen and (max-width: $mobile-width) {
            width: 328px;
            padding: 16px;
        }

        @media screen and (max-width: $small-mobile-width) {
            width: 268px;
            padding: 16px;
        }
        
    }

    .error-message-name{
        position: absolute;
        top: 24px;
        right: 24px;
        color: red;
        z-index: 1;

        @media screen and (max-width: $mobile-width) {
            top: 16px;
            right: 16px;
        }
    }

    .error-message-email{
        position: absolute;
        top: 24px;
        right: 24px;
        color: red;
        z-index: 1;

        @media screen and (max-width: $mobile-width) {
            top: 16px;
            right: 16px;
        }
    }

    .input-select{
        width: 768px;
        height: 76px;
        background-color: $light;

        @media screen and (max-width: $small-tablet-width) {
            width: 502px;
        }

        @media screen and (max-width: $mobile-width) {
            height: 60px;
            width: 362px;
        }

        @media screen and (max-width: $small-mobile-width) {
            width: 302px;
            padding: 16px;
        }
    }

    .error-message-query{
        position: absolute;
        top: 24px;
        right: 24px;
        color: red;
        z-index: 1;

        @media screen and (max-width: $mobile-width) {
            top: 16px;
            right: 16px;
        }
    }

    .error-message{
        position: absolute;
        top: 24px;
        right: 24px;
        color: red;
        z-index: 1;

        @media screen and (max-width: $mobile-width) {
            top: 16px;
            right: 16px;
        }
    }

    .hidden{
        display: none;
    }

    .input-message{
        height: 96px;

        @media screen and (max-width: $mobile-width) {
            height: 100px;
        }
    }

    .submit-button{
        @include yellowButton;
        @include heading-24;
        text-align: center;
        cursor: pointer;
    }

    .success-message{
        color: green;
        margin-top: 8px;
    }
}