@import '../../abstract/main';

.featured-post-blog{
    background-color: $lavender;
    padding: 80px;
    margin-bottom: 64px;

    @media screen and (max-width: $tablet-width) {
        padding: 48px;
    }

    @media screen and (max-width: $mobile-width) {
        padding: 16px;
    }

    .post-content{
        display: flex;
        align-items: center;
        gap: 130px;

        @media screen and (max-width: $tablet-width) {
            flex-direction: column;
            margin: 0 auto;
            gap: 64px;
        }

        @media screen and (max-width: $tablet-width) {
            gap: 32px;
        }
    }

    .text-wrapper{
        max-width: 624px;

        @media screen and (max-width: $tablet-width) {
            max-width: 80%;
        }
            
        @media screen and (max-width: $mobile-width) {
            max-width: 90%;
        }
    }

    .tag{
        text-transform: uppercase;
        letter-spacing: 3px;
        margin-bottom: 20px;
    }

    .title{
        @include heading-36;
        letter-spacing: -2px;
        margin-bottom: 16px;
    }

    .author-date{
        @include body-14;
        margin-bottom: 16px;

        span{
            color: $purple;
        }
    }

    .text{
        color: $mediumGrey;
        margin-bottom: 32px;
    }

    a{
        text-decoration: none;
    }

    .button{
        @include yellowButton;
        width: 108px;
    }

    .image{
        max-width: 515px;

        @media screen and (max-width: $tablet-width) {
            max-width: 80%;
        }

        @media screen and (max-width: $mobile-width) {
            max-width: 90%;
        }
    }

    .hidden{
        display: none;
    }
}