@import '../../abstract/main';

.featured-in-section{
    max-width: 1280px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 64px 80px;

    @media screen and (max-width: $tablet-width) {
        @include tabletWidthAndMargins;
        flex-wrap: wrap;
        justify-content: center;
    }

    @media screen and (max-width: $small-tablet-width) {
        @include smallTabletWidthAndMargins;
    }

    @media screen and (max-width: $mobile-width) {
        @include mobileWidthAndMargins;
    }

    .featured-in{
        color: $mediumGrey;
    }

    .text{
        @include body-14;
    }

    .heading{
        @include heading-24;
        margin-bottom: 16px;
    }

    .logos-section{
        display: flex;
        gap: 80px;

         @media screen and (max-width: $tablet-width) {
            flex-wrap: wrap;
            justify-content: center;
            gap: 32px;
        }
    }
}