@import '../../abstract/main';



.footer{
    background-color: $black;
    padding: 60px 80px;

    @media screen and (max-width: $tablet-width) {
        padding: 48px 64px;
    }

    @media screen and (max-width: $mobile-width) {
        padding: 32px 32px;
    }

    .footer-navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 56px;

        @media screen and (max-width: $tablet-width) {
            flex-direction: column;
            gap: 24px;
            margin-bottom: 48px;
        }

        @media screen and (max-width: $mobile-width) {
            margin-bottom: 32px;
        }
    }

    .footer-menu{
        display: flex;
        gap: 1.5rem;

        @media screen and (max-width: $mobile-width) {
            flex-direction: column;
            align-items: center;
            gap: 16px;
        }
    }

    .menu-item{   
        list-style: none;         
    }

    a{
        text-decoration: none;
        color: $light;

        &:hover{
            color: $hoverYellow
        }
    }

    .active{
        color: $hoverYellow;
    }

    .subscribe-section{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        gap: 64px;
        background-color: $subscribeSectionGrey;
        max-width: 1280px;
        padding: 80px 64px;

        @media screen and (max-width: $tablet-width) {
            flex-direction: column;
            align-items: center;
            gap: 48px;
            padding: 64px 48px;
        }

        @media screen and (max-width: $mobile-width) {
            gap: 32px;
            padding: 40px 16px;
        }
    }

    .subscribe-heading{
        @include heading-36;
        letter-spacing: -2px;
        color: $light;
        max-width: 562px;

        @media screen and (max-width: $tablet-width) {
            text-align: center;
        }

    }

    .subscribe-input{
        display: flex;
        justify-content: space-between;
        gap: 24px;

        @media screen and (max-width: $tablet-width) {
            flex-direction: column;
        }
    }

    .mail-input{
        display: flex;
        background-color: transparent;
        border: 1px solid $darkGrey;
        color: $light;
        width: 323px;
        padding-left: 24px;

        @media screen and (max-width: $tablet-width) {
            height: 56px;
        }

        @media screen and (max-width: $mobile-width) {
            max-width: 212px;
        }
    }

    .yellow-button{
        @include yellowButton;
        text-align: center;
    }

    .address-social{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 48px;

        @media screen and (max-width: $mobile-width) {
            flex-direction: column;
            margin-top: 32px;
            gap: 40px;
        }
    }

    .address{
        @include body-16;
        color: $light;
        opacity: 0.7;

        @media screen and (max-width: $mobile-width) {
            text-align: center;
        }
    }

    .social-media{
        display: flex;
        gap: 28px;
    }

    img{

        &:hover{
            filter: brightness(3);
        }
    }
}