@import '../../abstract/main';

.header{
    position: fixed;
    top: 0;
    width: 100%;
    max-width: 1440px;
    z-index: 50;
    padding: 14px 0;
    background-color: $black;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 80px;


    @media screen and (max-width: $tablet-width) {
        padding: 6px 80px;
    }

    @media screen and (max-width: $mobile-width) {
        padding: 12px 32px;
    }

    a{
        display: inline;
    }

    .menu{
        display: flex;
        justify-content: right;
        align-items: center;
        gap: 24px;
        position: relative;

        @media screen and (max-width: $tablet-width) {
            display: none;
        }
    }

    a{
        text-decoration: none;
    }

    .menu-item{
        list-style: none;
        color: $light;

        &:hover{
            color: $hoverYellow;
        }
    }

    .active{
        color: $hoverYellow;
    }

    .subscribe-button{
        margin: 12px 0;

        a{
            @include whiteButton;
            text-decoration: none;
            color: $black;
        }
    }

    .menu-close-btn{
        display: none;
    }
    

    @media screen and (max-width: $tablet-width) {
        .menu-expanded{
            position: absolute;
            top: 72px;
            left: 0;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;
            width: 100%;
            height: 100vh;
            padding-top: 16px;
            background-color: $black;
            z-index: 10;
        }        
    }

    @media screen and (max-width: $mobile-width) {
        .menu-expanded{
            top: 64px;
            height: calc(100vh - 64px);
        }
    }

    .menu-btn{
        width: 40px;
        height: 40px;
        border: 0;
        background-color: $black;
        color: $light;
        cursor: pointer;
        display: none;

        @media screen and (max-width: $tablet-width) {
            display: block;
        }
    }

    .hidden{
        display: none;
    }
}