@import '../../abstract/main';

.slider-wrapper-mobile{
    display: flex;
    align-items: center;

    @media screen and (min-width: $mobile-width) {
        display: none;
    }

    .image-wrapper{
        position: relative; 

        .overlay{
            position: absolute;
            width: 100%;
        }
    }

    .text-wrapper{
        position: absolute;
        color: $light;
        margin: 16px 16px;
    }

    .tag{
        letter-spacing: 3px;
        text-transform: uppercase;
        margin-bottom: 8px;

        strong{
            font-weight: 900;
        }
    }

    .title{
        @include heading-36;
        line-height: 42px;
        letter-spacing: -2px;
        margin-bottom: 16px;
    }

    .author{
        margin-bottom: 16px;
    }

    span{
        color: $yellow;
    }

    .text{
        margin-bottom: 16px;
    }

    a{
        text-decoration: none;
    }

    .button{
        @include yellowButton;
        max-width: 108px
    }
}

.hidden{
    display: none;
}

.controls-wrapper-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 16px;

    @media screen and (min-width: $mobile-width) {
        display: none;
    }

    .slide-btn{
        @include heading-24;
        width: 32px;
        margin: 0 16px;
        color: $black;
        background-color: $light;
        cursor: pointer;
    }

    .slider-indicators{
        display: flex;
        gap: 16px;
    }

    .indicator{
        background-color: $hoverYellow;
        width: 8px;
        height: 8px;
        border-radius: 100%;
        border: none;
        cursor: pointer;
    }
    
    .inactive-indicator{
        background-color: $black;
    }
}