@import '../../abstract/main';
.slider{

    .slide-wrapper{
        display: flex;
        align-items: center;

        @media screen and (max-width: $mobile-width) {
            display: none;
        }
    }

    .image-wrapper{
        position: relative;
    }

    .overlay{
        position: absolute;
        z-index: 1;
    }

    .hidden{
        display: none;
    }

    .text-wrapper{
        @include body-14;
        position: absolute;
        z-index: 2;
        color: $light;
        margin: 128px 16px 192px 80px;

        @media screen and (max-width: $tablet-width) {
            margin: 112px 16px 112px 64px;
            gap: 16px;
        }

        @media screen and (max-width: $small-tablet-width) {
            margin: 48px 16px 48px 48px;
            gap: 8px;
        }
    }

    .tag{
        letter-spacing: 3px;
        text-transform: uppercase;
        margin-bottom: 24px;
        
        @media screen and (max-width: $tablet-width) {
            margin-bottom: 16px;
        }

        @media screen and (max-width: $small-tablet-width) {
            display: none;
        }

        strong{
            font-weight: 900;
        }
    }

    .title{
        @include display;
        letter-spacing: -2px;
        max-width: 803px;
        margin-bottom: 24px;

        @media screen and (max-width: $tablet-width) {
            max-width: 720px;
            margin-bottom: 16px;
            line-height: 58px;
        }

        @media screen and (max-width: $small-tablet-width) {
            @include heading-36;
            line-height: 38px;
        }
    }

    .author-date{
        margin-bottom: 16px;

        @media screen and (max-width: $tablet-width) {
            margin-bottom: 8px;
        }

        @media screen and (max-width: $small-tablet-width) {
            margin-bottom: 4px;
        }

        span{
            color: $yellow;
        }
    }

    .text{
        max-width: 600px;
        max-height: 40px;
        margin-bottom: 48px;

        @media screen and (max-width: $tablet-width) {
            margin-bottom: 16px;
        }
    }

    a{
        text-decoration: none;
    }

    .button{
        @include yellowButton;
        max-width: 108px;
    }
}

.controls-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
    padding: 16px;

    @media screen and (max-width: $mobile-width) {
        display: none;
    }

    @media screen and (max-width: $tablet-width) {
        margin-bottom: 56px;
    }

    .slide-btn{        
        width: 26px;
        margin: 0 16px;
        cursor: pointer;
    }

    .slide-indicators{
        display: flex;
        gap: 24px;
    }

    .indicator{
        background-color: $hoverYellow;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        border: none;
        cursor: pointer;
    }
    
    .inactive-indicator{
        background-color: $black;
    }
}