@import '../../abstract/main';

.join-section{
    max-width: 414px;
    margin: 128px auto 128px auto;
    text-align: center;

    .section-title{
        margin-bottom: 16px;
    }

    .text{
        @include body-16;
        color: $mediumGrey;
        margin-bottom: 32px;
    }

    a{
        text-decoration: none;
    }

    .button{
        @include yellowButton;
        max-width: 78px;
        margin: 0 auto;
        cursor: pointer;
    }
}