@import '../../abstract/main';

.join-section{
    max-width: 414px;
    margin: 128px auto 128px auto;
    text-align: center;

    @media screen and (max-width: $tablet-width) {
        margin: 64px auto 64px auto;
    }

    @media screen and (max-width: $mobile-width) {
        margin: 48px auto 48px auto;
        max-width: 80%;
    }

    .section-title{
        @include heading-36;
        letter-spacing: -2px;
        margin-bottom: 16px;
    }

    .text{
        @include body-16;
        color: $mediumGrey;
        margin-bottom: 32px;
    }

    a{
        text-decoration: none;
    }

    .button{
        @include yellowButton;
        max-width: 174px;
        margin: 0 auto;
        cursor: pointer;
    }
}