@import '../../abstract/main';

.authors-section{
    max-width: 1280px;
    margin: 128px auto 96px auto;

    @media screen and (max-width: $tablet-width) {
        @include tabletWidthAndMargins;
    }

    @media screen and (max-width: $small-tablet-width) {
        @include smallTabletWidthAndMargins;
    }

    @media screen and (max-width: $mobile-width) {
        @include mobileWidthAndMargins;
    }

    .cards{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 32px;
        margin-top: 48px;

        @media screen and (max-width: $mobile-width) {
            margin-top: 32px;
        }
    }

    .card{
        width: 216px;
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: $lightGrey;
        padding: 40px;

        &:hover{
            cursor: pointer;
            background-color: $lightYellow;
        }
    }

    .avatar{
        width: 128px;
        border-radius: 50%;
        margin-bottom: 24px;
    }

    .name{
        @include heading-28;
        letter-spacing: -1px
    }

    .label{
        @include body-14;
        color: $mediumGrey;
        margin-bottom: 20px;
    }

    .social-wrapper{
        display: flex;
        gap: 16px;
    }

    .social-icon{

        &:hover{
            transform: scale(1.3);
        }
    }
}