@import '../../abstract/main';

.testimonials-section{
    max-width: 1280px;
    margin: 64px auto 128px auto;
    display: flex;
    background-color: $lightYellow;

    @media screen and (max-width: $tablet-width) {
        flex-direction: column;
        @include tabletWidthAndMargins;
    }

    @media screen and (max-width: $small-tablet-width) {
        @include smallTabletWidthAndMargins;
    }

    @media screen and (max-width: $mobile-width) {
        @include mobileWidthAndMargins;
    }

    .testimonials-text{
        max-width: 350px;
        padding: 92px 84px 92px 112px;

        @media screen and (max-width: $mobile-width) {
            max-width: 90%;
            padding: 48px 32px;
        }

        @media screen and (max-width: $small-mobile-width) {
            max-width: 95%;
            padding: 32px 16px;
        }
    }

    .tag{
        @include heading-16;
        letter-spacing: 3px;
        text-transform: uppercase;
        margin-bottom: 12px;
    }

    .title{
        @include heading-36;
        letter-spacing: -2px;
        margin-bottom: 16px;
    }

    .text{
        width: 100%;
    }

    .vertical-line{
        width: 0;
        height: 310px;
        border-left: 1px solid $mediumGrey;
        margin-top: 80px;
        opacity: 0.4;

        @media screen and (max-width: $tablet-width) {
            width: 80%;
            height: 0;
            border-top: 1px solid $mediumGrey;
            margin: 0 auto;

        }
    }

    .testimonials-carousel{
        padding: 80px 96px 80px 96px;

        @media screen and (max-width: $mobile-width) {
            padding: 48px 32px;
        }
    }

    .testimonial{
        @include heading-24;
        margin-bottom: 116px;

        @media screen and (max-width: $mobile-width) {
            text-align: center;
            margin: 0 auto 48px auto;
        }
    }

    .avatar-wrapper{
        display: flex;
        align-items: center;
        gap: 16px;

        @media screen and (max-width: $mobile-width) {
            flex-direction: column;
            align-items: center;
            gap: 16px;
        }
    }

    .avatar{
        width: 48px;
        height: 48px;
        border-radius: 50%
    }

    .name{
        @include heading-24;
    }

    .location{
        color: $mediumGrey;
    }

    .arrows{
        position: relative;
        left: -140px;
        display: flex;
        gap: 16px;
        align-self: flex-end;
        padding: 0 0 80px  0;

        @media screen and (max-width: $tablet-width) {
            position: static;
            align-self: flex-start;
            padding: 0 0 80px  96px;
        }

        @media screen and (max-width: $mobile-width) {
            align-self: center;;
            padding: 0 0 32px 0;
        }
    }

    .left-arrow{
        width: 48px;
        height: 48px;
        border-radius: 50%;

        &:hover{
            color: $light;
            background-color: $black;
            cursor: pointer;
        }
    }

    .right-arrow{
        width: 48px;
        height: 48px;
        border-radius: 50%;

        &:hover{
            color: $light;
            background-color: $black;
            cursor: pointer;
        }
    }

    .hidden{
        display: none;
    }
}