@import '../../abstract/main';

.why-section{
    max-width: 1280px;
    margin: 64px auto;

    @media screen and (max-width: $tablet-width) {
        @include tabletWidthAndMargins;
    }

    @media screen and (max-width: $small-tablet-width) {
        @include smallTabletWidthAndMargins;
    }

    @media screen and (max-width: $mobile-width) {
        @include mobileWidthAndMargins;
    }



    .section-wrapper{
        max-width: 1280px;
        position: relative;

        @media screen and (max-width: $tablet-width) {
            position: static;
        }
    }

    .text-wrapper{
        max-width: 546px;
        padding: 80px;
        position: absolute;
        top: 121px;
        right: 80px;
        background-color: $light;

        @media screen and (max-width: $tablet-width) {
            position: static;
            max-width: 100%;
            padding: 48px;
        }

        @media screen and (max-width: $mobile-width) {
            max-width: 100%;
            padding: 0px;
            margin-bottom: 16px;
            margin-top: 16px;
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    .tag{
        @include heading-16;
        text-transform: uppercase;
        margin: 24px 0;
    }

    .title{
        @include heading-48;
        letter-spacing: -2px;
        margin-bottom: 16px;
    }

    .text{
        color: $mediumGrey;
        margin-bottom: 32px;
    }

    a{
        text-decoration: none;
    }

    .button{
        @include yellowButton;
        width: 173px;
    }
}


