$black: #232536;
$yellow: #ffd050;
$purple: #592ea9;
$darkGrey: #4c4c4c;
$mediumGrey: #6d6e76;
$light: #ffffff;

$hoverYellow: #edc14a;
$lavender: #F4F0F8;

$subscribeSectionGrey: rgba(255, 255, 255, 0.05);
