$black: #232536;
$yellow: #ffd050;
$purple: #592ea9;
$darkGrey: #4c4c4c;
$mediumGrey: #6d6e76;
$light: #ffffff;

$hoverYellow: #edc14a;

$subscribeSectionGrey: rgba(255, 255, 255, 0.05);
$test: rgba(76, 76, 76, 1);
