$black: #232536;
$yellow: #ffd050;
$purple: #592ea9;
$darkGrey: #4c4c4c;
$mediumGrey: #6d6e76;
$lightGrey: #f4f4f4;
$lavender: #F4F0F8;
$lightYellow: #fbf6ea;
$light: #ffffff;

$hoverYellow: #edc14a;

$subscribeSectionGrey: rgba(255, 255, 255, 0.05);
$categoryCarouselBorder: rgba(109, 110, 118, 0.3);
