@mixin whiteButton{
    @include heading-18;
    color: $black;
    background-color: $light;
    padding: 16px 48px;

    &:hover {
        background-color: $yellow;

    }
}

@mixin yellowButton{
    @include heading-18;
    color: $black;
    background-color: $yellow;
    padding: 16px 48px;

    &:hover {
        background-color: $hoverYellow;
    }
}

@mixin tabletWidthAndMargins{
    max-width: 85%;
    margin: 64px auto 64px auto;
}

@mixin smallTabletWidthAndMargins{
    max-width: 90%;
    margin: 56px auto 56px auto;
}

@mixin mobileWidthAndMargins{
    max-width: 95%;
    margin: 48px auto 48px auto;
}