@mixin whiteButton{
    @include heading-18;
    color: $black;
    background-color: $light;
    padding: 16px 48px;

    &:hover {
        background-color: $yellow;

    }
}

@mixin yellowButton{
    @include heading-18;
    color: $black;
    background-color: $yellow;
    padding: 16px 48px;

    &:hover {
        background-color: $hoverYellow;
    }
}

@mixin tabletWidth{
    max-width: 80%;
}

@mixin smallTabletWidth{
    max-width: 85%;
}

@mixin mobileWidth{
    max-width: 90%;
}