@import '../../abstract/main';

.contact-wrapper{
    max-width: 768px;
    margin: 128px auto;

    @media screen and (max-width: $tablet-width) {
        margin: 80px auto;
    }

    @media screen and (max-width: $small-tablet-width) {
        max-width: 80%;
    }

    @media screen and (max-width: $mobile-width) {
        max-width: 90%;
        margin: 32px auto;
    }

    .contact-header{
        text-align: center;
    }

    .label{
        @include heading-16;
        letter-spacing: 3px;
        text-transform: uppercase;
    }

    .title{
        @include heading-48;
        letter-spacing: -2px;
        margin-top: 12px;
        margin-bottom: 32px;

        @media screen and (max-width: $tablet-width) {
            margin-bottom: 16px;
        }

        @media screen and (max-width: $mobile-width) {
            line-height: normal;
        }
    }

    .text{
       color: $mediumGrey;
    }

    .info-wrapper{
        display: flex;
        gap: 42px;
        padding: 48px 64px;
        color: $light;
        background-color: $purple;
        margin-top: 64px;
        margin-bottom: 32px;

        @media screen and (max-width: $tablet-width) {
            margin-top: 48px;
        }

        @media screen and (max-width:$small-tablet-width) {
            flex-direction: column;
            align-items: center;
        }

        @media screen and (max-width: $mobile-width) {
            margin-top: 32px;
            padding: 32px 48px;
        }
    }

    .info-card{
        width: 294px;
    }

    .info-label{
        @include body-14;
        opacity: 0.6;
        margin-bottom: 1rem;
    }

    .horizontal-line{
        border: none;
        height: 1px;
        background-color: $light;
        opacity: 0.1;
        margin-bottom: 1rem;
    }

    .info-detail{
        @include heading-20;        
    }

    .info{
        opacity: 0.6;
    }
}