@import '../abstract/typography/typography';
@import '../abstract/colors';

.button{
    background-color: $light;
    font-family: 'Sen-Bold';
    font-size: 18px;
    line-height: 24px;
    padding: 16px 48px;
    border: none;
}