@import '../abstract/typography/typography';
@import '../abstract/colors';

.white-button{
    @include heading-18;
    color: $black;
    background-color: $light;
    padding: 16px 48px;
    cursor: pointer;
    border: none;

    &:hover{
        background-color: $hoverYellow;
    }
}

.yellow-button{
    @include heading-18;
    color: $black;
    background-color: $yellow;
    padding: 16px 48px;
    cursor: pointer;
    border: none;

    &:hover{
        background-color: $hoverYellow;
    }
}