@import '../abstract/main';

.posts-section{
    display: flex;
    align-items: flex-start;
    gap: 2rem;
    padding: 128px 78px 128px 80px;

    @media screen and (max-width: $tablet-width) {
        flex-direction: column;
        align-items: center;
    }

    @media screen and (max-width: $mobile-width) {
        padding: 32px 20px 32px 20px;
    }

    .feature-post{
        max-width: 733px;
        margin: 0 auto;

        @media screen and (max-width: $mobile-width) {
            align-items: center;
        }

        .fp-tag{
            @include heading-36;
            letter-spacing: -2px;
            margin-bottom: 4rem;

            @media screen and (max-width: $mobile-width) {
                margin-bottom: 1rem;
            }
        }

        .hidden{
            display: none;
        }
    
        .fp-wrapper{
            max-width: 669px;
            margin: 0 2rem;
    
            .image{
                max-width: 669px;
                margin-bottom: 2rem;

                @media screen and (max-width: $tablet-width) {
                    max-width: 100%;
                }
            }

            .hidden{
                display: none;
            }
        
            .fp-author-date{
                @include body-14;
                color: $darkGrey;
                margin-bottom: 1rem;
        
                span{
                    color: $purple;
                }
            }
        
            .title{
                @include heading-28;
                letter-spacing: -1px;
                margin-bottom: 1rem;
            }
        
            .text{
                @include body-16;
                margin-bottom: 2rem;
                color: $mediumGrey;
            }
    
            .yellow-button{
                @include yellow-button;
                max-width: 108px;
            }
        }
    }

    .all-posts-section{
        max-width: 517px;
        max-height: 804px;


        .all-posts-header{
        display: flex;
        align-items: baseline;
        justify-content: space-between;

            .ap-tag{
                @include heading-36;
                letter-spacing: -2px;
                margin-bottom: 2rem;
            }

            .view-all-btn{
                color: $purple;
            }
        }

        .scroll-section{
            display: flex;
            flex-direction: column;
            overflow-y: scroll;
            max-height: 724px;


            .post-wrapper{
                display: flex;
                flex-direction: column;
                padding: 2rem 7.25rem 1.56rem 2rem;
                cursor: pointer;

                &:hover{
                    background-color: $yellow;
                }

                .author-date{
                    @include body-14;
                    margin-bottom: 0.5rem;

                    span{
                        color: $purple;
                    }
                }

                .title{
                    @include heading-24;
                }
            }
        }
    }
}