@import '../abstract/main';
.slider{

    .slider-wrapper{
        display: flex;
        align-items: center;

        @media screen and (max-width: $mobile-width) {
            display: none;
        }

        .image-wrapper{
            position: relative;

            .overlay{
                position: absolute;
                z-index: 1;
            }
    
            .slider-image{
                left: 0px;
                width: 100%;
                z-index: 0;
            }
        }

        .text-wrapper{
            @include body-14;
            position: absolute;
            z-index: 2;
            color: $light;
            display: flex;
            flex-direction: column;
            margin: 128px 16px 192px 80px;

            @media screen and (max-width: $tablet-width) {
                margin: 60px 16px 60px 32px;
                gap: 0.75rem;
            }

            .tag{
                letter-spacing: 3px;
                text-transform: uppercase;
                margin-bottom: 24px;
                
                @media screen and (max-width: $tablet-width) {
                    margin-bottom: 0px;
                }

                strong{
                    font-weight: 900;
                }
            }

            .title{
                @include display;
                letter-spacing: -2px;
                max-width: 803px;
                margin-bottom: 24px;

                @media screen and (max-width: $tablet-width) {
                    @include heading-36;
                    max-width: 720px;
                    margin-bottom: 0px;
                    line-height: 36px;
                }
            }

            .author-date{
                margin-bottom: 16px;

                @media screen and (max-width: $tablet-width) {
                    margin-bottom: 8px;
                }

                span{
                    color: $yellow;
                }
            }

            .text{
                max-width: 600px;
                max-height: 40px;
                margin-bottom: 48px;

                @media screen and (max-width: $tablet-width) {
                    margin-bottom: 0px;
                }
            }

            .button{
                @include yellowButton;
                max-width: 108px;

                a{
                    text-decoration: none;
                    color: $black;
                }
            }
        }
    }

    .hidden{
        display: none;
    }    

    .slider-wrapper-mobile{
        display: flex;
        align-items: center;

        @media screen and (min-width: $mobile-width) {
            display: none;
        }

        .image-wrapper{
            position: relative; 

            .overlay{
                position: absolute;
            }
        }

        .text-wrapper{
            position: absolute;
            color: $light;
            margin: 1rem 1rem;

            .tag{
                letter-spacing: 3px;
                text-transform: uppercase;
                margin-bottom: 0.5rem;

                strong{
                    font-weight: 900;
                }

                @media screen and (max-width: 400px) {
                    display: none;
                }
            }

            .title{
                @include heading-36;
                letter-spacing: -2px;
                margin-bottom: 1rem;

                @media screen and (max-width: 400px) {
                    line-height: 36px;
                }
            }

            .author-date{
                margin-bottom: 0.5rem;
            }

            span{
                color: $yellow;
            }

            .text{
                margin-bottom: 0.5rem;

                @media screen and (max-width: 400px) {
                    line-height: 24px;
                }
            }

            .button{
                display: none;
            }
        }

    }

    .hidden{
        display: none;
    }

    .controls-wrapper{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 16px;

        .slide-btn{
            @include heading-24;
            width: 32px;
            margin: 0 1rem;
            border: none;
            color: $black;
            background-color: $light;
            cursor: pointer;
        }

        .slider-indicators{
            display: flex;
            gap: 16px;
            bottom: 16px;
    
            .indicator{
                background-color: $hoverYellow;
                width: 8px;
                height: 8px;
                border-radius: 100%;
                border: none;
                cursor: pointer;
            }
            
            .inactive-indicator{
                background-color: $black;
            }
        }
    }
}

