@import '../abstract/main';

.join-section{
    max-width: 414px;
    margin: 0 auto 8rem auto;
    text-align: center;

    .heading{
        @include heading-36;
        letter-spacing: -2px;
        margin-bottom: 1rem;
    }

    .text{
        @include body-16;
        color: $mediumGrey;
        margin-bottom: 2rem;
    }

    .button{
        @include yellowButton;
        max-width: 78px;
        margin: 0 auto;
        cursor: pointer;
    }
}